.profile-wrapper__avatar-block {
  display: inline-block;
  font-size: 70px;
  width: 182px;
  height: 182px;
  line-height: 1;
  background: #D2D2D2;
  border-radius: 50%;
  color: #F2F2F2;
  cursor: pointer;
  position: relative;
}
.profile-wrapper__avatar-block i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.profile-wrapper__avatar-block:hover {
  background: #777777;
  color: #777777;
}
.profile-wrapper__avatar-block:hover i {
  display: none;
}
.profile-wrapper__avatar-text {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 20px;
  color: #F2F2F2;
}
.profile-wrapper__avatar-block:hover .profile-wrapper__avatar-text {
  display:block;
}