$font-family : Roboto;
$font-color : #212529;
$font-light-color : #FFFFFF;
$font-color-second : #01121C;
$font-error-color : #ff0000;
$font-button-color : #4a4a4a;
$main-color : #85BA6A;
$main-color-accent : #1a7749;
$background-color : #FFFFFF;
$background-sidebar-color : #F4F4F6;
$box-shadow :  0 0 15px 5px rgba(0, 0, 0, 0.2);
$form-small-header-color : #8e8e8e;

html, body {
  margin: 0;
}
body {
  font-family: $font-family;
  color: $font-color;
}
.window-wrapper {
  /*display: none;*/
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 2000;
}

%window-title {
  padding-top: 35px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: $font-color-second;
}

@import "./forms/auth/auth";
@import "./buttons/authSubmit/authSubmit";
@import "./buttons/forgotPass/forgotPass";

@import "./forms/registration/registration";

.chats-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: row;
}
.chats-wrapper__left-sidebar {
  width: 480px;
  padding: 0 10px;
  background: $background-sidebar-color;
  border-right: 1px solid #cecece;
}
.chats-wrapper__control-panel {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px;
}
.chats-search {
  display: none;
  position: absolute;
  width: 500px;
  left: calc(50% - 250px);
  top: 200px;
  border: 1px solid #cecece;
  background: $background-color;
  overflow: hidden;
}
.chats-search__header {
  margin: 0 15px;
  padding: 15px 5px;
  border-bottom: 1px solid $main-color-accent;
  font-weight: 500;
}

@import "./buttons/newChat/newChat";
@import "./list/chatAdding/chatAdd";
@import "./buttons/favorite/favorite";
@import "./inputs/search/search";
@import "./list/chats/chats";

.profile-wrapper {
  height: 100%;
  width: 100%;
  background: $background-color;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
}
.profile-wrapper__form-block {
  width: calc(100% - 90px);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile-wrapper__form-block-middle {
  padding-top: 80px;
  width: 740px;
  text-align: center;
}

@import "./buttons/profileReturn/profileReturn";
@import "./buttons/changeAvatar/changeAvatar";
@import "./content/profileHeader/profileHeader";
@import "./forms/profileForm/profileForm";

.chats-wrapper__main-content {
  margin: 0 20px;
  width: calc(100% - 480px - 40px);
  height: 100%;
  position: relative;
}
.chats-wrapper__empty-content {
  position: absolute;
  width: 100%;
  height: 20px;
  top: calc(50% - 20px/2);
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #787878;
  text-align: center;
}
.main-content__header-info {
  padding: 20px 10px 20px 10px;
  border-bottom: 1px solid #CECECE;
  display: flex;
  flex-direction: row;
}
.main-content__header-info__hide {
  display: none;
}
@import "./content/headerContent/headerContent";
@import "./list/chatSettings/chatSettings";
.error-wrapper {
  height: 100vh;
  background: #E5E5E5;
}
.error-wrapper-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 500px;
  height: 200px;
  left: calc(50% - 500px/2);
  top: calc(50% - 200px/2);
}
.error-wrapper-content__header {
  text-align: center;
}
.error-wrapper-content__text {
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}
.error-wrapper-content__link {
  padding-top: 25px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #1A7749;
}