.chats-search__new-chat {
  padding: 10px 20px;
}
.chats-search__new-chat-btn {
  cursor: pointer;
  width: 100%;
  padding: 5px 0;
  background: #85BA6A;
  border: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .9rem;
  border-radius: 12px;
}