.auth-window-btnArea__bigBtn {
  border: none;
  background: $main-color-accent;
  padding: 10px 0;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: $font-light-color;
  cursor: pointer;
  margin-bottom: 11px;
}